*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}


p {
    color: white;
}

.date {
    width: 490px;
    height: 600px;
    background: #1D175A;
    color: #000000;
    border-radius: 5%;
    padding: 30px;
    transition: all .3s ease;
}

.dark-mode {
    color: white;
    background: #000000;
}

.date__controler {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.date__month {
    display: flex;
}

.date__year {
    display: flex;
}

.date__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date__button {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 50px;
    height: 70px;
    font-size: 35px;
}

.date__week {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;
    height: 70px;
    opacity: 0.5;
}

.date__weekDay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.date__days {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;
    grid-auto-flow: row;
    width: 100%;
}

.date__daysItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.date__daysItem:hover {
    width: 68px;
    height: 68px;
    cursor: pointer;
    border: 1px solid black; 
}

.date__footer {
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.date__footerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none; 
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check {
    background-color: #fff;
    box-shadow: 0 0  1200px pink;
}

.check:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check:before {
    transform: translateX(-50px);
}

.check:after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

input[type="checkbox"]:checked ~ .check:after {
    transform: translateX(0px);
}